# .gitignore
.vscode
__pycache__/
# Environment files
.env
passwords bruhh

# Database file
db.sqlite3
bincom_test.sql

# Log files
*.log

# PyCharm project files
.idea/

# Virtual environments
venv/
Pipfile.lock
